{% extends "base.html" %}

	{% block title %}404 - SuperMeeple{% endblock %}
	
	{% block main %}	
	<!-- MAINBAR --> 
	<div id="mainbar">
		<div id="page" class="error">
			<h1>Error 404</h1>
			<p class="text1416">Uh-oh, we didn't want you to find this.  Please go <a href="/">home</a> and try again, or use the Game Search to the right.
			</p>
			<br/><br/>
			<div>
				<a href="http://www.flickr.com/photos/merydith/3673541313/" title="Butt Crack - Origins Game Fair 2009 by Will Merydith, on Flickr"><img src="http://farm4.static.flickr.com/3624/3673541313_7fcdd7eb42.jpg" width="332" height="500" alt="Butt Crack - Origins Game Fair 2009"></a>	  
			</div>	
		</div><!-- /page -->                       
  </div><!-- /mainbar -->
	{% endblock %}	
	
	{% block sidebar %}	
	<div id="sidebar">
		<div class="block">			
  		<div id="search">
   			<form name="input" action="/game" method="post">
       		<input class="search-box" type="text" id="game-search"/>
       		<input type="hidden" name="game_id" id="game-id" />
       		<input type="hidden" name="game_name" id="game-name" />
       		<input class="button" value="Go" type="submit"/>
     		</form>
				<p>search for more games</p>
   		</div>
		</div><!-- /block  -->
	</div><!-- /sidebar -->	
	{% endblock %}