{% extends "base.html" %}

	{% block title %}{{ current_user.name }} - Game Geek - SuperMeeple{% endblock %}
	
	{% block main %}
	<div id="mainbar">
  	<!-- user-profile: container for the user's avatar and name. -->
  	<div id="user-profile">
    	<div id="profile-image">
      	<a href="{{ profile_user.fb_profile_url }}"><img src="http://graph.facebook.com/{{ profile_user.fb_id }}/picture?type=square"/></a></p>
      </div>
      <div id="profile-name">
      	<h1 id="user-name">
					<span class="name">{{profile_user.name|escape }} </span>
					<span class="beans">{{beans}}</span>
				</h1>
      </div>
    </div><!-- /user-profile -->		
		<div id="checkin-list">
			<h2>Game Checkins</h2>
			{% for c in checkins %}
			<div class="checkin">
  			<div class="game-image">
					{% if c.game.bgg_img_url %}
					<a href="/game{{c.game.mid}}/{{c.game.bgg_id}}"><img title="{{c.game.name}}" alt="{{c.game.name}}"src="{{c.game.bgg_img_url}}"/></a>
					{% else %}
					<a href="/game{{c.game.mid}}/{{c.game.bgg_id}}"><img title="Game image missing for {{c.game.name}}" alt="Game image missing for {{c.game.name}}" src="/static/images/game-img-blank.jpg"/></a>
					{% endif %}
				</div>
				<div class="game-name">
					<h3><a href="/game{{c.game.mid}}/{{c.game.bgg_id}}">{{c.game.name}}</a></h3>
					<p>{{c.created|timesince}} ago </p>
					<p>Players:
						{% for p in c.players %}
					  <a href="/user/{{p.fb_id}}">{{p.name}}</a>{% if not forloop.last %}, {% endif %}
						{% endfor %}
					</p>				
				</div>	
				<div class="game-badges">
					<p></p>
				</div>				
			</div>
			{% endfor %}
		</div><!-- /checkin-list -->	
	</div><!-- /main -->	   			
	{% endblock %}		
	
	{% block sidebar %}	
	<div id="sidebar">
		<div class="block">			
  		<div id="search">
   			<form name="input" action="/game-profile" method="post">
       		<input class="search-box" type="text" id="game-search"/>
       		<input type="hidden" name="game_id" id="game-id" />
       		<input type="hidden" name="game_name" id="game-name" />
       		<input class="button" value="Go" type="submit"/>
     		</form>
				<p>search for more games</p>
   		</div>
		</div><!-- /block  -->
		<div class="block">			
  		<div id="badges">
				<h2>Badges</h2>
				<p>This user doesn't have any Badges yet.</p>
				<div class="tip">
					<p>Looking for badges? Players can earn a variety of badges based on activity:</p>
					<ul>
						<li>Check in to games</li>
						<li>Sharing check ins on Facebook</li>
						<li>Adding players to your check ins</li>
						<li>Scoring check ins</li>
						<li>Being first and winning also helps</li>
					</ul>	
				</div>
   		</div>
		</div><!-- /block  -->		
	</div><!-- /sidebar -->	
	{% endblock %}

