{% extends "base.html" %}

	{% block title %}{{ current_user.name }} - Board Game Log - SuperMeeple{% endblock %}

	{% block facebook_meta %}
	<meta property="fb:app_id" content="{{facebook_app_id}}"/>
	<meta property="og:site_name" content="SuperMeeple"/>	
	{% endblock %}

	{% block script %}
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	<script type="text/javascript" src="http://freebaselibs.com/static/suggest/1.3/suggest.min.js"></script>

  <!-- Freebase Jquery search -->
	<script type="text/javascript">
		$(function() {
  		$("#game-search").suggest({type:'/games/game'}).bind("fb-select", function(e, data) {
  			$("#game-id").val(data.id);
  			$("#game-name").val(data.name);
  		});
		});
	</script>
	<!-- Game Log form -->
	<script type="text/javascript">
		$(function() {  
    	$('.error').hide();  
    	$("#game-log-button").click(function() { 
				var checkin_id = $("input#checkin-id").val();
				var form_data = $("#game-log-form").serialize();				
		 		$.ajax({  
					type: "POST",  
			  	url: "/game-log/"+checkin_id,  
			    data: form_data, 
			  	dataType: "json",
        	beforeSend: function() {
        		$('#spinner').addClass('loading');
        		$('#game-log-form').hide();
        	},
			  	success: function() {  
			    	$('#message').html("<h2>Success!</h2>");  
			  	},
        	complete: function() {
        		$('#spinner').removeClass('loading');
					}				
				});
				return false;
  		});  
 		});
	</script>
	{% endblock %}
	
	{% block main %}
	<div id="mainbar">
		<div id="game-log">
			<h2>Game Log</h2>
			<div class="checkin">
  			<div class="game-image">
					{% if checkin.game.bgg_img_url %}
					<a href="/game{{checkin.game.mid}}/{{checkin.game.bgg_id|default_if_none:"0"}}"><img title="{{checkin.game.name}}" alt="{{checkin.game.name}}"src="{{checkin.game.bgg_img_url}}"/></a>
					{% else %}
					<a href="/game{{checkin.game.mid}}/{{checkin.game.bgg_id|default_if_none:"0"}}"><img title="Game image missing for {{checkin.game.name}}" alt="Game image missing for {{checkin.game.name}}" src="/static/images/game-img-blank.jpg"/></a>
					{% endif %}
				</div><!-- /game-image -->
				<div class="game-name">
					<h3><a title="{{checkin.game.name}}" href="/game{{checkin.game.mid}}/{{ checkin.game.bgg_id|default_if_none:"0" }}">{{checkin.game.name}}</a></h3>
					<p>{{checkin.created|timesince}} ago </p>
					<div class="player">
				  	<a title="{{checkin.player.name}}" href="/user/{{checkin.player.fb_id}}"><img title="{{checkin.player.name}}" src="http://graph.facebook.com/{{checkin.player.fb_id}}/picture?type=square"/></a><a title="{{checkin.player.name}}" href="/user/{{checkin.player.fb_id}}">{{checkin.player.name}}</a>
						{% for b in checkin.badges %}
						<img alt="{{b.name}}" title="{{b.name}}" class="thumbnail-badge" title src="{{b.image_url}}=s28" />
						{% endfor %}
					</div>
					<div class="message">
						{% if checkin.message %}
						<p>"{{checkin.message}}"</p>
						{% endif %}
					</div>	
				</div><!-- /game-name -->				
				<div id="game-log-form-wrapper" title="Create Game Log">
					<div id="spinner"></div>
					<form name="input" id="game-log-form" action="">
						<fieldset>
	        		<input type="hidden" name="checkin-id" id="checkin-id" value="{{checkin.id}}" />
	        		<input type="hidden" name="mid" id="mid" value="{{checkin.game.mid}}" />	
							<label>Player 1: {{current_user.name}}</label>
							<input type="hidden" name="player-1-name" id="player-1-name" value="{{current_user.name}}" />
							<input type="hidden" name="player-1-id" id="player-1-id" value="{{current_user.fb_id}}" />
							<label>Score</label>
							<input type="text" size="6" name="points-1" id="points-1" /><br/>
							<label>Player 2</label>
							<input type="text" name="player-2-name" id="player-2-name" />
							<input type="hidden" name="player-2-id" id="player-2-id" value="" />
							<label>Score</label>
							<input type="text" size="6" name="points-2" id="points-2" /><br/>							
							<label>Player 3</label>
							<input type="text" name="player-3-name" id="player-3-name" />
							<input type="hidden" name="player-3-id" id="player-3-id" value="" />							
							<label>Score</label>
							<input type="text" size="6" name="points-3" id="points-3" /><br/>							
							<label>Player 4</label>
							<input type="text" name="player-4-name" id="player-4-name" />
							<input type="hidden" name="player-4-id" id="player-4-id" value="" />							
							<label>Score</label>
							<input type="text" size="6" name="points-4" id="points-4" /><br/>																					
							<textarea class="text-area" id="note" name="note" rows="3" cols="30"></textarea><br/>
	        		<input class="button" id="game-log-button" value="Save" type="submit"/>
	       		</fieldset>
					</form>
					{% for f in friends %}	
					<p>{{f.name}}</p>
					{% endfor %}
				</div><!-- /game-log -->		
			</div><!-- /checkin -->
		</div><!-- /game-log -->
	</div><!-- /main -->	   			
	{% endblock %}		
	
	{% block sidebar %}	
	<div id="sidebar">
		<div class="block">			
  		<div id="search">
   			<form name="input" action="/game" method="post">
       		<input class="search-box" type="text" id="game-search"/>
       		<input type="hidden" name="game_id" id="game-id" />
       		<input type="hidden" name="game_name" id="game-name" />
       		<input class="button" value="Go" type="submit"/>
     		</form>
				<p>search for more games</p>
   		</div>
		</div><!-- /block  -->
	</div><!-- /sidebar -->	
	{% endblock %}

