{% extends "base.html" %}

	{% block title %}{{ bgg_game.name }} - Board Game - SuperMeeple{% endblock %}
	
		{% block main %}
			<h1 id="game-title">
				<span class="name">{{ bgg_game.name }}</span>
				<span class="year">({{ bgg_game.year_published}})</span>
			</h1>
		  <div id="game-detail">	
				{% if bgg_game.description %}
  			<h2>Overview</h2>
				<div id="description">
					{{ bgg_game.description }}
				</div>
				<div id="more-less-container">
					<a href="#" id="more-less">show more >></a>
				</div>	
				<script>
				var open = false;
				$('#more-less').click(function() {
				    if (open) {
				        $('#description').animate({height:'10em'}); 
				        $('#more-less').text('show more >>');				
				    }
				    else {
				        $('#description').animate({height:'100%'});
				 				$('#more-less').text('show less <<');	
				    }
				    open = !open;
				});
				</script>
				{% endif %}

			  {% if bgg_game.designers %}
    		<dl>
    			<dt>Designed by</dt>
					{% for x in bgg_game.designers %}
					<dd>{{ x }}</dd>
					{% endfor %}
    		</dl>
 				{% endif %}

			  {% if bgg_game.artists %}
    		<dl>
    			<dt>Art by</dt>
					{% for x in bgg_game.artists %}
					<dd>{{ x }}</dd>
					{% endfor %}
    		</dl>
 				{% endif %}

			  {% if bgg_game.publishers %}
    		<dl>
    			<dt>Published by</dt>
					{% for x in bgg_game.publishers %}
					<dd>{{ x }}</dd>
					{% endfor %}
    		</dl>
 				{% endif %}

			  {% if bgg_game.year_published %}
    		<dl>
    			<dt>Introduced</dt>
					<dd>{{ bgg_game.year_published }}</dd>
    		</dl>
 				{% endif %}

     		{% if bgg_game.min_players and bgg_game.max_players %}
    		<dl>
    			<dt># of players</dt>
					<dd>{{ bgg_game.min_players }} - {{ bgg_game.max_players }}</dd>
    		</dl>
				{% endif %}

			  {% if bgg_game.playing_time %}
    		<dl>
    			<dt>Playing time</dt>
					<dd>{{ bgg_game.playing_time }}</dd>
    		</dl>
 				{% endif %}

			  {% if bgg_game.age %}
    		<dl>
    			<dt>Ages</dt>
					<dd>{{ bgg_game.age }} and up</dd>
    		</dl>
 				{% endif %}

			  {% if bgg_game.categories %}
    		<dl>
    			<dt>Tags</dt>
					{% for x in bgg_game.categories %}
					<dd>{{ x }}</dd>
					{% endfor %}
    		</dl>
 				{% endif %}

			  {% if bgg_game.mechanics %}
    		<dl>
    			<dt>Mechanics</dt>
					{% for x in bgg_game.mechanics %}
					<dd>{{ x }}</dd>
					{% endfor %}
    		</dl>
 				{% endif %}

			  {% if bgg_game.expansions %}
    		<dl>
    			<dt>Expansions</dt>
					{% for x in bgg_game.expansions %}
					<dd>{{ x }}</dd>
					{% endfor %}
    		</dl>
 				{% endif %}

    		<dl>
    			<dt>Weblinks</dt>
					<dd><a href="http://boardgamegeek.com/boardgame/{{bgg_game.bgg_id}}">Board Game Geek</a></dd>
    		</dl>
						
			</div><!-- /game-detail -->		    			
		{% endblock %}		
		
		{% block sidebar %}	
		<div class="block">			
    	<div id="search">
     		<form name="input" action="/game-profile" method="post">
         	<input class="search-box" type="text" id="game-search"/>
         	<input type="hidden" name="game_id" id="game-id" />
         	<input type="hidden" name="game_name" id="game-name" />
         	<input class="button" value="Go" type="submit"/>
       	</form>
				<p>search for more games</p>
     	</div>
		</div>
			<div class="block">
				{% if bgg_game.bgg_img_url %}
  			<div id="game-image">
					<img src="{{ bgg_game.bgg_img_url }}"/>
				</div>
				{% endif %}	
			</div>
			<div class="block">
				{% if not checkin %}
				<div id="checkin-form">  
			  	<form name="input" action="">  
			   		<fieldset>  
							<input type="hidden" name="mid" id="mid" value="{{bgg_game.key.name}}"/>  
			       	<input type="submit" name="submit" class="button" id="checkin-button" value="Checkin" />  
			     	</fieldset>  
			   	</form>  
			  </div>			
				{% else %}
				<div id="checkin">
					<h2>You are checked in!</h2>
				</div>
				{% endif %}
			</div>
		{% endblock %}
		