{% extends "base.html" %}

	{% block title %}SuperMeeple - {{ game.name }}{% endblock %}
	
		{% block main %}
			<h1>{{ game.name }}</h1>
		  <div id="game-detail">	
			  {% if game.designer %}
    		<dl>
    			<dt>Designed by</dt>
					{% for d in game.designer %}
					<dd>{{ d }}</dd>
					{% endfor %}
    		</dl>
 				{% endif %}
				{% if game.introduced %}
    		<dl>
    			<dt>Introduced</dt>
					<dd>{{ game.introduced }}</dd>
    		</dl>
				{% endif %}
				{% if game.play_time_minutes and game.maximum_playing_time_minutes %}
    		<dl>
    			<dt>Playing time</dt>
					<dd>{{ game.playing_time_minutes|floatformat }} - {{ game.maximum_playing_time_minutes|floatformat }} minutes</dd>
    		</dl>
				{% endif %}
     		{% if playerMinMax %}
    		<dl>
    			<dt># of players</dt>
					<dd>{{ playerMinMax.low_value }} - {{ playerMinMax.high_value }}</dd>
    		</dl>
				{% endif %}
				{% if game.minimum_age_years %}
 	   		<dl>
	    			<dt>Suggested age</dt>
						<dd>{{ game.minimum_age_years|floatformat }} years and up</dd>
    		</dl>
				{% endif %}
				{% if game.origin %}
    		<dl>
    			<dt>Origin</dt>
					<dd>{{ game.origin }}</dd>
    		</dl>
				{% endif %}
				{% if game.publisher %}
  			<dl>
    			<dt>Published by</dt>
    			{% for p in game.publisher %}
    				<dd>{{ p }}</dd>
    			{% endfor %}		
  		  </dl>	
				{% endif %}
				{% if game.expansions %}
  			<dl>
    			<dt>Expansions</dt>
    			{% for e in game.expansions %}
    				<dd>{{ e }}</dd>
    			{% endfor %}		
  		  </dl>
				{% endif %}
				{% if derivative %}
  			<dl>
    			<dt>Derivative games</dt>
    			{% for d in game.derivative_games %}
    				<dd>{{ d }}</dd>
    			{% endfor %}		
  		  </dl>
				{% endif %}
				{% if game.genre %}
  			<dl>
    			<dt>Genres</dt>
    			{% for g in game.genre %}
    				<dd>{{ g }}</dd>
    			{% endfor %}		
  		  </dl>
				{% endif %}
				{% if weblink %}
    		<dl>
    			<dt>Weblinks</dt>
					<dd><a href="{{ weblink.url|cut:"/{name}" }}">{{ weblink.description }}</a></dd>
    		</dl>
				{% endif %}
			</div><!-- /game-detail -->		    			
		{% endblock %}		
		
		{% block sidebar %}	
			<div class="block">
	    	<div id="search">
	     		<form name="input" action="/game-profile" method="post">
	         	<input class="search-box" name="fbSelect" type="text" id="game-search"/>
	         	<input type="hidden" name="gameID" id="game-id" />
	         	<input type="hidden" name="gameName" id="game-name" />
	         	<input class="button" value="Go" type="submit"/>
	       	</form>
					<p>search for more games</p>
	     	</div>
			</div>	
			
			<div class="block">
				{% if not checkin %}
	      <div id="checkin">
					<h2>Checkin</h2>
					<form name="input" action="/game-checkin" method="post">
	         	<input type="hidden" name="mid" id="game-mid" value={{game.mid}} />
	         	<input class="button" value="Checkin" type="submit"/>
	       	</form>
				</div>
				{% else %}
	      <div id="checkin">
					<h2>Checkin</h2>
					<p>You are checked into {{ game.name }}.</p>
				</div>				
	    	{% endif %}
			</div>
		{% endblock %}
		