{% extends "base.html" %}

	{% block title %}Board Game Database, Tools and Apps - SuperMeeple{% endblock %}

	{% block main %}
	<div id="mainbar">
		<!-- CHECKINS -->
		<div class="block">
			<div id="checkin-list">
				<div class="block-header">
					<h2>Recent Game Checkins</h2>
				</div>	
				{% for c in checkins %}
				<div class="checkin-wrapper">
					<div class="checkin">
  					<div class="game-image">
							{% if c.game.bgg_thumbnail_url %}
							<a title="{{c.game.name}}" href="/game{{c.game.mid}}/{{c.game.bgg_id|default_if_none:"0"}}">
								<img title="{{c.game.name}}" alt="{{c.game.name}}"src="{{c.game.bgg_thumbnail_url}}"/>
							</a>
							{% else %}
							<a title="{{c.game.name}}" href="/game{{c.game.mid}}/{{c.game.bgg_id|default_if_none:"0"}}">
								<img alt="{{game.name}}" title="{{game.name}}" src="http://api.freebase.com/api/trans/image_thumb{{c.game.mid}}?maxwidth=80&maxheight=100"/>
							</a>
							{% endif %}
						</div><!-- /game-image -->
						<div class="game-name">
							<h3><a title="{{c.game.name}}" href="/game{{c.game.mid}}/{{ c.game.bgg_id|default_if_none:"0" }}">{{c.game.name}}</a></h3>
							<p>{{c.created|timesince}} ago </p>
							<div class="player">
				  			<a title="{{c.player.name}}" href="/user/{{c.player.fb_id}}"><img title="{{c.player.name}}" src="http://graph.facebook.com/{{ c.player.fb_id }}/picture?type=square"/></a><a title="{{c.player.name}}" href="/user/{{c.player.fb_id}}">{{c.player.name}}</a>
									{% for b in c.badges %}
									<img alt="{{b.name}}" title="{{b.name}}" class="thumbnail-badge" title src="{{b.image_url}}=s28" />
						  		{% endfor %}
							</div>
							<div class="message">
								{% if c.message %}
								<p>says, "{{c.message}}"</p>
								{% endif %}
							</div>	
						</div><!-- /game-name -->	
						{% if c.gamelog %}
						<div class="log">
							<div class="scores">
								<div class="score-data">
									<table>
										<caption>Game Score</caption>
										<tbody>
											<tr>
												<th>Player</th>
												<th>Points</th>
												<th>Winner</th>	
											</tr>
											{% for s in c.gamelog.scores %}								
											<tr>									
												<td>{{s.name}}</td>
												<td>{{s.points}}</td>
												<td>
													{% if s.winner %}
													<img src="/static/images/winner.png" vspace="3">
								  				{% else %}
													&nbsp;
								  				{% endif %}
												</td>
											</tr>
											{% endfor %}
										</tbody>	
									</table>	
								</div>	
								<div class="score-note">
									<table>
										<caption>Note</caption>
										<tbody>
											<tr>
												<td>{{c.gamelog.note}}</td>
											</tr>	
										</tbody>	
									</table>
								</div>							
							</div>
						</div><!-- /log -->	
						{% else %}
					  	{% ifequal current_user.fb_id c.player.fb_id %}
						<div class="log">  
							<a href="/game-log/{{c.id}}"><img src="/static/images/add-score-button.png"></a>
						</div><!-- /log -->
							{% endifequal %}
						{% endif %}
					</div><!-- /checkin -->
				</div><!-- /checkin-wrapper -->
				<div class="liner"></div>
				{% endfor %}
			</div><!-- /checkin-list -->
		</div><!-- /block -->
	</div><!-- /mainbar -->	
  {% endblock %}
	
	{% block sidebar %}
	<div id="sidebar">
		
		<!-- SEARCH -->
		<div class="block">			
  		<div id="search">
   			<form name="input" action="/game" method="post">
       		<input class="search-box" type="text" id="game-search"/>
       		<input type="hidden" name="game_id" id="game-id" />
       		<input type="hidden" name="game_name" id="game-name" />
       		<input type="hidden" name="game_mid" id="game-mid" />
       		<input class="button" value="Go" type="submit"/>
     		</form>
				<p>search for more games</p>
   		</div>
		</div><!-- /block -->	
		
		<br/><br/>
		<!-- MY CHECKINS -->
		{% if current_user.fb_id %}
		<div class="block">
			<div id="checkin-block">
				<div class="block-header">
					<h2>My Checkins</h2>
				</div>	
			{% if my_checkins %}
				{% for c in my_checkins %}
				<div class="tiny-checkin">
					<div class="game-wrap">
						<div class="game">
				  		<h3><a title="{{c.game.name}}" href="/game{{c.game.mid}}/{{ c.game.bgg_id|default_if_none:"0" }}">{{c.game.name}}</a></h3>
						</div>
						<div class="game-badges">
					{% for b in c.badges %}
							<img alt="{{b.name}}" title="{{b.name}}" class="thumbnail-badge" title src="{{b.image_url}}=s20" />
				  {% endfor %}
						</div>
					</div><!-- /player-wrap -->						
					<div class="time">
						<p>{{c.created|timesince}} ago</p>
					</div>	
				</div><!-- /tiny-checkin -->
				<div class="liner"></div>
				{% endfor %}
			{% else %}
				<p>You have not checked into and games yet.</p>
			{% endif %}	
			</div><!-- /checkin-list -->	
		</div><!-- /block -->			
		{% endif %}
		
		<br/>
		<!-- SPIEL DES JAHRES -->
		<div class="block">
			<div class="block-header">
				<h2>Spiel Des Jahres Winners</h2>
			</div>
      <table id="game-list">
        {% for s in spiels %}
  			<tr>
					<td>
						<span><a title="{{s.name}}" href="game{{ s.mid }}/{{ s.bgg_id }}">{{ s.name }}</a></span>
					</td>
					<td>
						<div class="year">{{ s.year }}</div>
					</td>
	      </tr>
				{% endfor %}
    	</table>
		</div><!-- /block -->		
		
		<br/>
		<!-- MEEPLES CHOICE -->		
		<div class="block">
			<div class="block-header">
				<h2>Meeples' Choice Awards</h2>
			</div>			
    	<table id="game-list">
      	{% for m in meeples %}
  			<tr>
					<td>
						<span><a title="{{s.name}}" href="game{{ m.mid }}/{{ m.bgg_id }}">{{ m.name }}</a></span>
					</td>
					<td>
						<div class="year">{{ m.year }}</div>
					</td>
	     	</tr>
				{% endfor %}
    	</table>
		</div><!-- /block -->	
	</div><!-- /sidebar -->
  {% endblock %}
