{% extends "base.html" %}

	{% block title %}{{profile_user.name}} - Board Game Geek - SuperMeeple{% endblock %}

	{% block facebook_meta %}<meta property="fb:app_id" content="{{facebook_app_id}}"/>
  <meta property="og:title" content="{{current_user.name}}"/>
  <meta property="og:type" content="geek"/>
  <meta property="og:url" content="http://{{host}}//user/{{profile_user.fb_id}}"/>
  <meta property="og:image" content="http://graph.facebook.com/{{ profile_user.fb_id }}/picture?type=square"/>
  <meta property="og:site_name" content="SuperMeeple"/>	
	{% endblock %}
	
	{% block main %}
	<div id="mainbar">
		
  	<!-- USER PROFILE -->
		<div class="block" style="height:80px;">
  		<div id="user-profile">
    		<div id="user-image">
      		<a href="{{profile_user.fb_profile_url}}"><img src="http://graph.facebook.com/{{profile_user.fb_id}}/picture?type=square"/></a></p>
      	</div>
      	<div id="user-name">
					<h1>{{profile_user.name|escape }}</h1>
      	</div>
				<div id="fb-like">
					<script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
					<fb:like href="http://{{host}}//user/{{profile_user.fb_id}}" layout="button_count" show_faces="true" width="100" font="arial"></fb:like>				
				</div>
    	</div><!-- /user-profile -->	
		</div><!-- /block -->
		
		<!-- CHECKINS -->
		<div class="block">
			<div id="checkin-list">
				<div class="block-header">
					<h2>My Game Checkins</h2>
				</div>	
				{% for c in checkins %}
				<div class="checkin-wrapper">
					<div class="checkin-header">
						<div class="game-title">
							<h3><a title="{{c.game.name}}" href="/game{{c.game.mid}}/{{ c.game.bgg_id|default_if_none:"0" }}">{{c.game.name}}</a></h3>
							<p class="time">{{c.created|timesince}} ago </p>						
						</div>	
						<div class="badges">
							{% for b in c.badges %}
							<div class="banner">
								<img alt="{{b.name}}" title="{{b.name}}" title src="{{b.banner_url}}" />
							</div>	
			  			{% endfor %}		
						</div>	
					</div><!-- checkin-header -->	

					<div class="checkin">
						<div class="player">
							<div class="details">
								<span class="message">{% if c.message %}"{{c.message}}"{% endif %}</span>							
							</div><!-- /details -->	
							<div class="log">
								{% if c.gamelog %}
								<table>
									<tbody>
										<tr>
											<th>Player</th>
											<th>Points</th>
											<th>Winner</th>	
										</tr>
										{% for s in c.gamelog.scores %}								
										<tr>									
											<td>{{s.name}}</td>
											<td class="center">{{s.points}}</td>
											<td class="center">
												{% if s.winner %}
												<img src="/static/images/winner.png" vspace="3">
									  		{% else %}
												&nbsp;
									  		{% endif %}
											</td>
										</tr>
										{% endfor %}
									</tbody>	
								</table>	
								{% else %}
						  		{% ifequal current_user.fb_id c.player.fb_id %}
									<a href="/game-log/{{c.id}}"><img src="/static/images/scoreit-button-orange.png"></a>
									{% endifequal %}
								{% endif %}						
							</div><!-- /log -->					
						</div><!-- /player -->
						
 						<div class="game-image">
							<div class="thumb">
								{% if c.game.bgg_thumbnail_url %}
								<a title="{{c.game.name}}" href="/game{{c.game.mid}}/{{c.game.bgg_id|default_if_none:"0"}}">
									<img title="{{c.game.name}}" alt="{{c.game.name}}"src="{{c.game.bgg_thumbnail_url}}"/>
								</a>
								{% else %}
								<a title="{{c.game.name}}" href="/game{{c.game.mid}}/{{c.game.bgg_id|default_if_none:"0"}}">
									<img alt="{{game.name}}" title="{{game.name}}" src="http://api.freebase.com/api/trans/image_thumb{{c.game.mid}}?maxwidth=80&maxheight=100"/>
								</a>
								{% endif %}
							</div><!-- /thumb -->
						</div><!-- /game-image -->

					</div><!-- /checkin -->
					{% if c.gamelog %}				
					<div class="note">
						<strong>Score Comment:</strong>&nbsp;{{c.gamelog.note}}
					</div><!-- /note -->
						{% endif %}
				</div><!-- /checkin-wrapper -->	
				{% endfor %}
			</div><!-- /checkin-list -->
		</div><!-- /block -->
	</div><!-- /mainbar -->	   			
	{% endblock %}		
	
	{% block sidebar %}	
	<div id="sidebar">
		
		<!-- SEARCH -->
		<div class="block" style="height:80px;">			
  		<div id="search">
   			<form name="input" action="/game" method="post">
       		<input class="search-box" type="text" id="game-search"/>
       		<input type="hidden" name="game_id" id="game-id" />
       		<input type="hidden" name="game_name" id="game-name" />
       		<input class="button" value="Go" type="submit"/>
     		</form>
				<p>search for more games</p>
   		</div><!-- /search -->
		</div><!-- /block  -->
		
		<!-- BADGES -->
		<div class="block">			
  		<div id="badge-block">
				<div class="block-header-orange"><h2>{% ifequal current_user.fb_id profile_user.fb_id %}My {% endifequal %}Badges</h2></div>
				{% if badge_log %}
					{% for b in badge_log %}
					<div class="badge-log">
						<div class="badge">
							<img src="{{b.badge.image_url}}" height="50" width="50" border="0" alt="High Score" />
						</div><!-- /badge -->
						<div class="awards">
            	<h3>{{b.badge.name}}</h3>
							<ul>
							{% for g in b.games %}
              	<li>
									<a title="{{g.name}}" href="/game{{g.mid}}/{{g.bgg_id|default_if_none:"0"}}">{{g.name}}</a>
								</li>
    					{% endfor %}
							</ul>
          	</div><!-- /awards -->
					</div><!-- /badge-log -->	
					<div class="liner"></div>
					{% endfor %}
   			{% else %}
					{% ifequal current_user.fb_id c.player.fb_id %}
					<p>You don't have any Badges yet.</p>
					{% else %}
					<p>{{profile_user.name|escape}} doesn't have any Badges yet.</p>
					{% endifequal %}
				<div class="tip">
					<p>Looking for badges? Players can earn a variety of badges based on activity:</p>
					<ul>
						<li>Check in to games</li>
						<li>Share check ins on Facebook</li>
						<li>Scoring check ins</li>
						<li>Being first and winning also helps</li>
					</ul>	
				</div>
				{% endif %}
			</div>
		</div><!-- /block  -->	
		
		{% if scores %}
		<!-- FRIEND SCORES -->
		<div class="block">
			<h2>Scored By Friends</h2>
			<div id="scores-list">
				{% for s in scores %}
				<div class="tiny-friend-score">
					<div class="player">
						<p>
							<a title="{{s.author.name}}" href="/user/{{s.author.fb_id}}">
								<img alt="{{s.author.name}}" title="{{s.author.name}}" src="http://graph.facebook.com/{{s.author.fb_id}}/picture?type=square"/>
							</a>
							<a title="{{s.author.name}}" href="/user/{{s.author.fb_id}}">{{s.author.name}}</a>
							awarded you <span class="points">{{s.points}}</span> points in a game of 
							<a href="/game-log/{{s.gamelog_id}}">{{s.game.name}}</a> - {{s.created|timesince}} ago
						</p>
					</div>							
				</div><!-- /tiny-friend-score -->	
				{% endfor %}
		  </div><!-- /scores-list -->	
		</div><!-- /block -->		
		{% endif %}
	</div><!-- /sidebar -->	
	{% endblock %}

